In [18]:
import pandas as pd

df = pd.read_csv("all_teams_bowling.csv")
#df.head()

,player_name,matches_played,innings_bowled,overs_bowled,maidens_earned,runs_conceded,wickets_taken,best_innings_bowling,bowling_average,economy_rate,bowling_strike_rate,four_wkts_in_an_inns,five_wkts_in_an_inns,catches_taken,stumpings_made
0,P Amarnath,6,6,22,0,236,7,2/29,33.71,10.72,18.8,0,0,2,0
1,S Anirudha,19,-,-,-,-,-,-,-,-,-,-,-,11,0
2,KB Arun Karthik,1,-,-,-,-,-,-,-,-,-,-,-,0,0
3,R Ashwin,97,94,337.4,4,2180,90,3/16,24.22,6.45,22.5,0,0,20,0
4,KM Asif,2,2,6,0,75,3,2/43,25,12.5,12,0,0,0,0

In [19]:
i = df[df.runs_conceded=='-'].index #find the bowlers who haven't conceded any runs 
i

Int64Index([  1,   2,   6,   7,   9,  13,  15,  21,  25,  28,
            ...
            916, 920, 921, 923, 926, 928, 929, 939, 944, 951],
           dtype='int64', length=296)

In [20]:
df.drop(i,inplace=True) #remove the bowlers who haven't conceded any runs

In [4]:
# j = df[df.overs_bowled=='-'].index
# j

In [21]:
df.dtypes

player_name             object
matches_played           int64
innings_bowled          object
overs_bowled            object
maidens_earned          object
runs_conceded           object
wickets_taken           object
best_innings_bowling    object
bowling_average         object
economy_rate            object
bowling_strike_rate     object
four_wkts_in_an_inns    object
five_wkts_in_an_inns    object
catches_taken            int64
stumpings_made           int64
dtype: object

In [22]:
#change the data types to actual data types
#eg:  runs_conceded was object(string) but it should be int
df['runs_conceded']=df['runs_conceded'].astype('int64')
df['wickets_taken']=df['wickets_taken'].astype('int64')
df['overs_bowled']=df['overs_bowled'].astype('float64')

In [23]:
#group the multiple data points of a player and sum the attributes
res = df.groupby('player_name').agg({'runs_conceded':'sum','wickets_taken':'sum','overs_bowled':'sum'}).reset_index()

In [24]:
res

           player_name  runs_conceded  wickets_taken  overs_bowled
0       A Ashish Reddy            396             18          43.4
1           A Chandila            242             11          39.0
2          A Choudhary            144              5          16.5
3          A Dananjaya             47              0           4.0
4           A Flintoff            105              2          11.0
5             A Kumble           1058             45         160.5
6             A Mishra           3525            146         476.5
7             A Mithun            472              7          48.0
8              A Nehra           2495            106         317.6
9                A Nel             31              1           3.0
10             A Singh            620             28          78.5
11           A Symonds            674             20          87.5
12            A Uniyal             66              2           6.0
13             A Zampa            278             19          36.5
14           AA Chavan            326              8          41.2
15     AA Jhunjhunwala            129              1          14.1
16             AA Kazi             21              0           2.0
17           AA Noffke             40              1           4.0
18          AB Agarkar           1151             29         130.2
19            AB Dinda           2073             69         252.4
20         AB McDonald            261             11          31.0
21        AC Gilchrist              0              1           0.1
22           AC Thomas            406             14          52.3
23            AC Voges             76              0           9.0
24      AD Mascarenhas            356             19          51.2
25          AD Mathews           1079             27         131.5
26          AD Russell           1251             44         143.0
27            AF Milne            177              4          18.0
28          AG Murtaza            313              9          44.0
29            AJ Finch             67              1           7.1
..                 ...            ...            ...           ...
347          TK Curran            118              6          10.1
348           TL Suman            197              6          25.0
349         TM Dilshan            366              5          45.1
350            TM Head             81              2           8.0
351       TP Sudhindra            136              1          11.4
352           TS Mills            153              5          17.5
353       Tejas Baroka             33              0           3.3
354           UT Yadav           3125            111         374.9
355           Umar Gul            184             12          22.3
356            V Kohli            368              4          41.5
357     V Pratap Singh            296             10          34.0
358           V Sehwag            235              6          22.4
359          V Shankar             77              1           6.0
360           VR Aaron           1219             38         140.4
361          VRV Singh            542             12          60.0
362           VS Malik            261              6          34.1
363        VS Yeligati             59              0           5.0
364          VY Mahesh            499             21          56.3
365            WA Mota             97              4          12.0
366         WD Parnell            701             26          95.2
367         WPUJC Vaas            355             18          47.0
368  Washington Sundar            377             12          50.0
369   Y Gnaneswara Rao              7              0           1.0
370            Y Nagar            125              4          11.0
371    Y Venugopal Rao            337              6          36.0
372         YA Abdulla            307             15          34.5
373          YK Pathan           1407             42         190.1
374          YS Chahal           1932             82         248.3
375       Yuvraj Singh           1077             36         144.5
376             Z Khan           2782            102         366.4

[377 rows x 4 columns]

In [26]:
res.to_csv('stats_bowling.csv',index=False)