In [164]:
import pandas as pd

df = pd.read_csv("all_teams_batting_1.csv")
#df.head()

,player_name,matches_played,innings_batted,not_outs,runs_scored,highest_inns_score,batting_average,balls_faced,batting_strike_rate,hundreds_scored,fifties_scored,duckes_scored,boundary_fours,boundary_sixes,times_out
0,P Amarnath,6,-,-,-,-,-,-,-,-,-,-,-,-,#VALUE!
1,S Anirudha,19,12,5,133,64,19,108,123.14,0,1,2,9,7,7
2,KB Arun Karthik,1,1,1,3,3*,-,5,60,0,0,0,0,0,0
3,R Ashwin,97,31,11,190,23,9.5,202,94.05,0,0,3,19,1,20
4,KM Asif,2,-,-,-,-,-,-,-,-,-,-,-,-,#VALUE!

In [77]:
df.dtypes

player_name            object
matches_played          int64
innings_batted         object
not_outs               object
runs_scored            object
highest_inns_score     object
batting_average        object
balls_faced            object
batting_strike_rate    object
hundreds_scored        object
fifties_scored         object
duckes_scored          object
boundary_fours         object
boundary_sixes         object
times_out              object
dtype: object

In [165]:
i = df[df.runs_scored=='-'].index

In [166]:
i

Int64Index([  0,   4,   5,  20,  23,  37,  47,  50,  52,  57,  62,  70,  79,
            126, 132, 138, 145, 148, 151, 158, 172, 179, 189, 215, 217, 224,
            238, 242, 263, 267, 272, 282, 290, 308, 310, 365, 374, 397, 403,
            451, 465, 477, 491, 501, 514, 549, 552, 556, 577, 579, 590, 598,
            608, 609, 640, 651, 668, 676, 677, 679, 685, 702, 704, 743, 761,
            784, 801, 811, 818, 821, 840, 863, 865, 868, 891, 900, 921],
           dtype='int64')

In [81]:
j=df[df.balls_faced=='-'].index

In [82]:
j

Int64Index([  0,   4,   5,  20,  23,  37,  47,  50,  52,  57,  62,  70,  79,
            126, 132, 138, 145, 148, 151, 158, 172, 179, 189, 215, 217, 224,
            238, 242, 263, 267, 272, 282, 290, 308, 310, 365, 374, 397, 403,
            451, 465, 477, 491, 501, 514, 549, 552, 556, 577, 579, 590, 598,
            608, 609, 640, 651, 668, 676, 677, 679, 685, 702, 704, 743, 761,
            784, 801, 811, 818, 821, 840, 863, 865, 868, 891, 900, 921],
           dtype='int64')

In [68]:
i==j

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [69]:
k=df[df.times_out=='#VALUE!'].index

In [70]:
k

Int64Index([  0,   4,   5,  20,  23,  37,  47,  50,  52,  57,  62,  70,  79,
            126, 132, 138, 145, 148, 151, 158, 172, 179, 189, 215, 217, 224,
            238, 242, 263, 267, 272, 282, 290, 308, 310, 365, 374, 397, 403,
            451, 465, 477, 491, 501, 514, 549, 552, 556, 577, 579, 590, 598,
            608, 609, 640, 651, 668, 676, 677, 679, 685, 702, 704, 743, 761,
            784, 801, 811, 818, 821, 840, 863, 865, 868, 891, 900, 921],
           dtype='int64')

In [71]:
k==i

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [167]:
df.drop(i,inplace=True)

In [168]:
df['runs_scored']=df['runs_scored'].astype('int64')
df['balls_faced']=df['balls_faced'].astype('int64')
df['times_out']=df['times_out'].astype('int64')

In [92]:
df.dtypes

player_name            object
matches_played          int64
innings_batted         object
not_outs               object
runs_scored             int64
highest_inns_score     object
batting_average        object
balls_faced             int64
batting_strike_rate    object
hundreds_scored        object
fifties_scored         object
duckes_scored          object
boundary_fours         object
boundary_sixes         object
times_out               int64
dtype: object

In [174]:
res = df.groupby('player_name').agg({'runs_scored':'sum','balls_faced':'sum','times_out':'sum'}).reset_index()

In [175]:
res

              player_name  runs_scored  balls_faced  times_out
0          A Ashish Reddy          280          193         15
1              A Chandila            4            7          0
2                A Chopra           53           71          6
3             A Choudhary           25           20          1
4             A Dananjaya            4            5          0
5              A Flintoff           62           53          2
6                A Kumble           35           47          3
7                A Mishra          341          365         29
8                A Mithun           34           26          5
9                A Mukund           19           22          2
10                A Nehra           41           62          7
11                  A Nel            0            0          1
12                A Singh            2           10          4
13              A Symonds          974          750         27
14               A Uniyal            4            7          1
15                A Zampa            5            8          2
16            AA Bilakhia           69           85          5
17              AA Chavan           12           11          2
18        AA Jhunjhunwala          217          210         13
19              AA Noffke            9           10          1
20             AB Agarkar          179          154         10
21              AB Barath           42           42          2
22               AB Dinda           26           48         10
23            AB McDonald          123          100          5
24         AB de Villiers         3953         2619        100
25            AC Blizzard          120           90          7
26           AC Gilchrist         2069         1495         76
27              AC Thomas           20           19          2
28               AC Voges          181          143          4
29               AD Hales          148          118          6
..                    ...          ...          ...        ...
463               V Kohli         4948         3784        129
464        V Pratap Singh            0            1          1
465              V Sehwag         2728         1755         99
466             V Shankar          313          223          6
467                VH Zol           29           26          2
468              VR Aaron           46           55          4
469             VRV Singh            4            3          2
470              VS Malik            7            7          1
471           VS Yeligati            2            2          1
472            VVS Laxman          282          267         18
473             VY Mahesh           15           27          2
474          Vishnu Vinod           19           26          3
475              W Jaffer          130          121          8
476               WA Mota           56           75          6
477            WD Parnell           63           75          9
478               WP Saha         1679         1293         69
479            WPUJC Vaas           81           73          8
480     Washington Sundar           74           50          4
481  X Thalaivan Sargunam           10           17          1
482      Y Gnaneswara Rao           19           17          1
483               Y Nagar          285          259         14
484       Y Venugopal Rao          985          836         44
485            YA Abdulla            0            1          0
486             YK Pathan         3164         2196        107
487             YS Chahal           15           32          3
488           YV Takawale          192          178          8
489         Yashpal Singh           47           66          4
490           Younis Khan            3            7          1
491          Yuvraj Singh         2652         2045        107
492                Z Khan          117          141         14

[493 rows x 4 columns]

In [171]:
# idx=0
# new=df['player_name']
# res.insert(loc=idx,column='player_name',value=new)

In [176]:
res

              player_name  runs_scored  balls_faced  times_out
0          A Ashish Reddy          280          193         15
1              A Chandila            4            7          0
2                A Chopra           53           71          6
3             A Choudhary           25           20          1
4             A Dananjaya            4            5          0
5              A Flintoff           62           53          2
6                A Kumble           35           47          3
7                A Mishra          341          365         29
8                A Mithun           34           26          5
9                A Mukund           19           22          2
10                A Nehra           41           62          7
11                  A Nel            0            0          1
12                A Singh            2           10          4
13              A Symonds          974          750         27
14               A Uniyal            4            7          1
15                A Zampa            5            8          2
16            AA Bilakhia           69           85          5
17              AA Chavan           12           11          2
18        AA Jhunjhunwala          217          210         13
19              AA Noffke            9           10          1
20             AB Agarkar          179          154         10
21              AB Barath           42           42          2
22               AB Dinda           26           48         10
23            AB McDonald          123          100          5
24         AB de Villiers         3953         2619        100
25            AC Blizzard          120           90          7
26           AC Gilchrist         2069         1495         76
27              AC Thomas           20           19          2
28               AC Voges          181          143          4
29               AD Hales          148          118          6
..                    ...          ...          ...        ...
463               V Kohli         4948         3784        129
464        V Pratap Singh            0            1          1
465              V Sehwag         2728         1755         99
466             V Shankar          313          223          6
467                VH Zol           29           26          2
468              VR Aaron           46           55          4
469             VRV Singh            4            3          2
470              VS Malik            7            7          1
471           VS Yeligati            2            2          1
472            VVS Laxman          282          267         18
473             VY Mahesh           15           27          2
474          Vishnu Vinod           19           26          3
475              W Jaffer          130          121          8
476               WA Mota           56           75          6
477            WD Parnell           63           75          9
478               WP Saha         1679         1293         69
479            WPUJC Vaas           81           73          8
480     Washington Sundar           74           50          4
481  X Thalaivan Sargunam           10           17          1
482      Y Gnaneswara Rao           19           17          1
483               Y Nagar          285          259         14
484       Y Venugopal Rao          985          836         44
485            YA Abdulla            0            1          0
486             YK Pathan         3164         2196        107
487             YS Chahal           15           32          3
488           YV Takawale          192          178          8
489         Yashpal Singh           47           66          4
490           Younis Khan            3            7          1
491          Yuvraj Singh         2652         2045        107
492                Z Khan          117          141         14

[493 rows x 4 columns]

In [177]:
res.to_csv('stats_batting.csv',index=False)